<pre id="flower" class="lighter">{{"" | footerBase()}}</pre>
<nav>
    <dl>
        <dt><strong>Main</strong></dt>
        <dd>
            <ul>
                <li><a href="/" data-umami-event="home" data-umami-event-place="footer" style="--light: {{ 0 | rainbow(10) }}">Home</a></li>
                <li><a href="/contact" data-umami-event="contact" style="--light: {{ 1 | rainbow(10) }}">Contact</a></li>
                {% if config.isJobHunting %}
                    <li><a href="/resume"><s>Resume</s></a></li>
                {% endif %}
                <li><a href="https://whyamey.wordpress.com/" data-umami-event="blog" style="--light: {{ 2 | rainbow(10) }}">Blog</a></li>
            </ul>
        </dd>
        <dt><strong>Links</strong></dt>
        <dd>
            <ul>
                <li>
                    <a href="https://github.com/whyamey" data-umami-event="github" rel="me" style="--light: {{ 3 | rainbow(10) }}">GitHub</a>
                </li>
                <li>
                    <a href="https://x.com/whyamey" style="--light: {{ 4 | rainbow(10) }}" data-umami-event="mastodon" rel="me">X</a>
                </li>
                <li>
                    <a href="https://scholar.google.com/citations?user=05YUDc8AAAAJ&hl=en" style="--light: {{ 5 | rainbow(10) }}" data-umami-event="mastodon" rel="me">Scholar</a>
                </li>
                {% if config.donate %}
                <li>
                    <a style="--light: {{ 5 | rainbow(10) }}" href="{{config.donate}}" data-umami-event="donate" data-umami-event-place="footer">Donate</a>
                    (<a style="--light: {{ 5 | rainbow(10) }}" href="https://ko-fi.com/evan" data-umami-event="donate" data-umami-event-place="footer-kofi">Ko-fi</a>)
                </li>
                {% endif %}
            </ul>
        </dd>
        <dt><strong>Ring</strong></dt>
        <dd>
            <ul>
                <li>
                    <a style="--light: {{ 6 | rainbow(10) }}" data-umami-event="webring" data-umami-event-button="prev" href="https://xn--sr8hvo.ws/%F0%9F%86%8E%F0%9F%88%B6%E2%8F%B0/previous">⤺</a> 🕸💍 <a style="--light: {{ 6 | rainbow(9) }}" data-umami-event="webring" data-umami-event-button="next" href="https://xn--sr8hvo.ws/%F0%9F%86%8E%F0%9F%88%B6%E2%8F%B0/next">⤻</a>
                </li>
            </ul>
        </dd>
    </dl>
</nav>
